<div class="card" style="max-width: 428px; cursor: pointer; box-shadow: 0 0.1rem 0.2rem 0 rgb(0 0 0 / 5%);">
  <div class="row g-0">
    <div class="col-md-4">
      <% if (book.fileCover) { %>
        <img src="public/books/<%=book.fileCover%>" class="img-fluid rounded-start" alt="<%=book.title%>">
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <%=book.title%>
        </h5>
        <p class="card-text" style="   
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;
              line-height: 1.2rem;
              height: 6rem;
            ">
          <%=book.description%>
        </p>
        <p class="card-text"><small class="text-muted">
            <%=book.authors%>
          </small></p>
      </div>
    </div>
  </div>
</div>