<%- include('../html/html-start.ejs'); -%>
<%- include('../templates/header', {book, edit: true}); -%>
<main 
    class="container mr-0 mt-3 mb-3 p-0 d-flex flex-direction-column; justify-content-between;" 
    style="height: calc(100vh - 168px); overflow-y: auto;"
>
    <div class="container align-items-center" style="max-width: 360px;">
        <%- include('../templates/book-form', { method: 'PUT' }); -%>
    <div>
</main>
<%- include('../templates/footer'); -%>
<%- include('./scripts/update.ejs'); -%>
<%- include('../html/html-end.ejs'); -%>