<%- include('../cdn/cdn'); -%>
<%- include('../templates/header', {edit: true}); -%>
<title>Книга ~ <%=book.title%></title>
<main class="container mr-0 mt-3 mb-3 p-0 d-flex flex-direction-column; justify-content-between;" style="height: calc(100vh - 168px); overflow-y: auto;">
    <div class="container align-items-center">
        <%- include('../templates/book-card', {book, small: false}); %>
    <div>
</main>
<%- include('../templates/footer'); -%>