<%- include('../html/html-start.ejs'); -%>
<%- include('../templates/header', {book, edit: true}); -%>
<main class="container mr-0 mt-3 mb-3 p-0 d-flex flex-direction-column; justify-content-between;" style="height: calc(100vh - 168px); overflow-y: auto;">
    <div class="container align-items-center">
        <h1 class="h3 mb-4" style="text-align: center; display: none;">Книга</h1>
        <%- include('../templates/book-card', {book, small: false}); %>
    <div>
</main>
<%- include('../templates/footer'); -%>
<%- include('../html/html-end.ejs'); -%>
